<!-- <mat-sidenav-container class="app-sidenav-container bg-content">
  <mat-sidenav
    #sidenav
    [opened]="telaMenor() ? 'false' : 'true'"
    [mode]="telaMenor() ? 'over' : 'side'"
    class="app-sidenav bg-header"
  >
    <mat-toolbar class="bg-header">SGC</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="white-text">
        <span
          matBadge="{{ tarefas.length }}"
          matBadgeOverlap="false"
          matBadgeColor="warn"
          >Minhas tarefas</span
        >
      </a>
      <a mat-list-item class="white-text">
        <span class="">Pendentes</span>
      </a>
      <a mat-list-item class="white-text">
        <span class="">Concluídas</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <button mat-icon-button class="btn-menu" (click)="sidenav.toggle()">
      <mat-icon aria-hidden="false" aria-label="Example user verified icon"
        >menu</mat-icon
      >
    </button> -->
<mat-toolbar class="tb-custom-color">
  <mat-toolbar-row>
    <span (click)="recarregarPage()" class="white-text">
      SGC - Tarefas
    </span>
    <span class="example-spacer"></span>
    <button
      (click)="openDialogTarefa()"
      mat-stroked-button
      style="color: #2C2C54;"
      class="bg-card-task"
    >
      <mat-icon class="icon-size-1" matSuffix>add_circle</mat-icon>
      Criar nova tarefa
    </button>
    <a (click)="logout()" mat-button color="accent" class="ml-1">
      <mat-icon class="icon-size-1" matSuffix>logout</mat-icon>
      Sair
    </a>

    <!-- <button mat-icon-button color="primary">
                <mat-icon aria-hidden="false">refresh</mat-icon>
              </button> -->
  </mat-toolbar-row>
</mat-toolbar>

<section
  fxLayout="row"
  fxLayout.xs="column"
  fxLayout.sm="column"
  fxLayoutAlign="center center"
  class="mat-typography div-tarefa"
>
  <div
    fxFlex="100%"
    class="w-tarefa"
    [ngStyle.gt-lg]="{ height: '118.2vh' }"
    [ngStyle.gt-md]="{ height: '110vh' }"
    [ngStyle.gt-sm]="{ height: '88.2vh' }"
  >

    <mat-tab-group #tabRef mat-align-tabs="center" color="primary">
      <mat-tab style="opacity: 1 !important;">
        <ng-template matTabLabel id="tab1">
          <span
            matBadge="{{ tarefas.length }}"
            matBadgeOverlap="false"
            matBadgeColor="warn"
            >Minhas Tarefas</span
          >
        </ng-template>
        <div *ngIf="isErrorUsuario">
          <h1 class="text-center mt-5">
            Desculpe algo aconteceu ao trazer suas tarefas, verifique se voce
            está online no SGC, ou entre em contato com o Suporte Técnico.
          </h1>

          <p class="text-center">
            <a
              href="http://177.126.81.87:8089/sgc"
              mat-stroked-button
              class="bg-card-task"
            >
              Clique para verificar seu acesso.
              <mat-icon Prefix>lock</mat-icon>
            </a>
          </p>
        </div>

        <div
          class="criar-tarefa"
          *ngIf="tarefas.length == 0 && !isErrorUsuario"
        >
          <h1 class="text-center">Não foram criadas tarefas.</h1>
        </div>

        <div
          fxLayout="column"
          fxFlex="100%"
          fxLayout.gt-md="row"
          class="mt-2"
          gdColumns.gt-md="32vw 32vw 32vw"
          fxLayoutAlign="center space-around"
        >
          <div
            fxFlex.md="100%"
            fxFlex.gt-sm="100%"
            [ngStyle]="{ margin: '1vh' }"
            *ngFor="let task of tarefas"
            class="back-task"
          >

            <mat-progress-bar
              *ngIf=" task.prazo && task.isAtrasado"
              class="border-progress-bar progress-prazo-final"
              mode="determinate"
              value="{{task.porcentagemConcluido}}"
            ></mat-progress-bar>

            <mat-progress-bar
              *ngIf="task.prazo && task.isPrazo && !task.isAtrasado"
              class="border-progress-bar progress-prazo"
              mode="determinate"
              value="{{task.porcentagemConcluido}}"
            ></mat-progress-bar>

            <mat-progress-bar
              *ngIf="!task.prazo"
              class="border-progress-bar"
              mode="determinate"
              value="{{task.porcentagemConcluido}}"
            ></mat-progress-bar>

            <mat-card
              class="mat-elevation-z2  btn-tarefa"

            >
              <mat-card-title class="mb-2 text-capitalize">
                <mat-icon
                  (click)="isAtivo = !isAtivo"
                  *ngIf="task.prazo"
                  matTooltip="Encerra em: {{ task.prazo }} {{ task.horaPrazo }}"
                  matSuffix
                  class="icon-resp"
                >
                  {{ task.prazo ? "today" : "" }}
                </mat-icon>
                <mat-icon
                  *ngIf="task.rotina"
                  matTooltip="É uma tarefa de Rotina"
                  class="icon-resp"
                  matSuffix
                  color="{{ task.rotina ? 'primary' : 'warn' }}"
                >
                  {{ task.rotina ? "loop" : "" }}
                </mat-icon>

                {{ task.titulo }}
                <small style="color:grey; font-weight: lighter;">
                  ({{ task.atividades.length }})
                </small>

                <small class="f-right"> #{{ task.id }} </small>
              </mat-card-title>
              <mat-card-subtitle>
                <!-- Criada por
                <strong
                  >{{ task.titular.split(" ")[0] }}
                  <span class="pl-2">
                    <mat-icon
                      matTooltip="É uma tarefa de Rotina"
                      class="icon-resp"
                      matSuffix
                      color="{{ task.rotina ? 'primary' : 'warn' }}"
                    >
                      {{ task.rotina ? "loop" : "" }}
                    </mat-icon>
                  </span>
                </strong>
                <span style="float: right;">
                  {{ task.criacao }}
                </span> -->
              </mat-card-subtitle>
              <mat-card-content>
                <p *ngIf="task.descricao" class="card-desc">
                  Descrição: {{ task.descricao }}
                </p>
                <p *ngIf="!task.descricao" class="card-desc">
                  Descrição: Sem descrição
                </p>

                <mat-expansion-panel #panelTaks class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    Mais opções
                  </mat-expansion-panel-header>
                  <mat-panel-description>
                    <div>
                      <strong *ngIf="task.participantes.length != 0"
                        >Participantes:
                      </strong>
                      <strong *ngIf="task.participantes.length == 0"
                        >Sem participantes.
                      </strong>
                      <button
                        mat-icon-button
                        class="f-right btn-add-person mb-2 particip-btn-add"
                        matTooltip="Adicionar participante(s)"
                        (click)="openDialogParticipante(task.id)"
                      >
                        <mat-icon>group_add</mat-icon>
                      </button>

                      <mat-chip-list
                        *ngIf="task.participantes.length != 0"
                        #chipList
                        aria-label="Selecionar participantes"
                      >
                        <mat-chip
                          *ngFor="let part of task.participantes"
                          class="bg-info"
                          matTooltip="{{ part.nome }}"
                        >
                          {{ part.nome.split(" ")[0] }}
                          <mat-icon
                            matChipRemove
                            *ngIf="removivel"
                            (click)="removeParticipanteTarefa(part.id, task.id)"
                            matTooltip="Remover participante"
                            matTooltipPosition="above"
                          >
                            cancel
                          </mat-icon>
                        </mat-chip>
                      </mat-chip-list>
                      <mat-chip-list
                        *ngIf="task.participantes.length == 0"
                        #chipList
                        aria-label="Selecionar participantes"
                      >
                        <mat-chip class="bg-danger">
                          Você não adicionou participantes.
                        </mat-chip>
                      </mat-chip-list>
                    </div>
                  </mat-panel-description>
                  <mat-action-row>
                    <button
                      size="small"
                      mat-button
                      matTooltip="Editar tarefa"
                      color="primary"
                      (click)="openDialogEditaTarefa(task)"
                    >
                      <mat-icon class="icon-action-task">create</mat-icon>

                      Editar
                    </button>
                    <button
                      size="small"
                      mat-raised-button
                      matPreffix
                      matTooltip="Excluir tarefa"
                      color="warn"
                      (click)="openDialogExcluirTarefa(task)"
                    >
                      <mat-icon class="icon-action-task"
                        >delete_forever</mat-icon
                      >
                      Excluir
                    </button>
                  </mat-action-row>
                </mat-expansion-panel>

                <!--
                  <div>
                    <strong
                      *ngIf="task.participantes.length != 0"
                    >Participantes:
                  </strong>
                  <strong *ngIf="task.participantes.length == 0"
                    >Sem participantes.
                  </strong>
                  <button
                    mat-icon-button
                    class="f-right btn-add-person mb-2"
                    matTooltip="Adicionar participante(s)"
                    (click)="openDialogParticipante(task.id)"
                  >
                    <mat-icon>group_add</mat-icon>
                  </button>

                  <mat-chip-list
                    *ngIf="task.participantes.length != 0"
                    #chipList
                    aria-label="Selecionar participantes"
                  >
                    <mat-chip
                      *ngFor="let part of task.participantes"
                      class="bg-info"
                      matTooltip="{{ part.nome }}"
                    >
                      {{ part.nome.split(" ")[0] }}
                      <mat-icon
                        matChipRemove
                        *ngIf="removivel"
                        (click)="removeParticipanteTarefa(part.id, task.id)"
                        matTooltip="Remover participante"
                        matTooltipPosition="above"
                      >
                        cancel
                      </mat-icon>
                    </mat-chip>
                  </mat-chip-list>
                  <mat-chip-list
                    *ngIf="task.participantes.length == 0"
                    #chipList
                    aria-label="Selecionar participantes"
                  >
                    <mat-chip class="bg-danger">
                      Você não adicionou participantes.
                    </mat-chip>
                  </mat-chip-list>
                </div>
              -->
              </mat-card-content>
              <!-- FIM DO CARD CONTENT ANTECIPADO -->
            </mat-card>
            <!-- FIM DO PRIMEIRO CARD COM INFORMACOES INICIAIS -->

            <div class="mt-5-real">


              <button
                (click)="openDialogAtividade(task)"
                mat-mini-fab
                class="f-right btn-add-atv tb-custom-color white-text-f"
              >
                <mat-icon>post_add</mat-icon>
              </button>
              <br>

              <mat-expansion-panel style="background: none!important;" class="mat-elevation-z0 clearfix-right">
                <mat-expansion-panel-header>
                  <strong>
                    Ver todas as atividades
                  </strong>
                </mat-expansion-panel-header>
                <mat-panel-description class="no-margin-r">
                  <div class="mt-2" style="width: 100%!important;" id="scroll-at">
                    <div *ngFor="let atv of task.atividades">
                      <mat-card
                        class="mat-elevation-z0  btn-tarefa mb-1 hover-action"
                      >
                        <mat-checkbox
                          class="checkbox-text"
                          color="primary"
                          *ngIf="atv.finalizada"
                          style="text-decoration: line-through;"
                          name="atividade"
                          checked="{{ atv.finalizada }}"
                          value="{{ atv.id }}"
                          (click)="desmarcaAtividadeCompleta(atv.id, task.id)"
                          ><strong
                            class="text-upper"
                            matTooltip="{{ atv.responsavel }}"
                            matTooltipPosition="above"
                          >
                            {{ atv.descricao }}
                          </strong>
                        </mat-checkbox>

                        <mat-checkbox
                          *ngIf="!atv.finalizada"
                          name="atividade"
                          value="{{ atv.id }}"
                          (click)="marcaAtividadeCompleta(atv.id, task.id)"
                          class="text-upper checkbox-text"

                        >
                          <span>
                            {{ atv.descricao }}
                          </span>
                        </mat-checkbox>
                        <!-- <small *ngIf="atv.responsavel">
                          - <strong>{{ atv.responsavel.split(" ")[0] }}</strong>
                        </small> -->

                        <span *ngIf="!atv.finalizada" class="btn-atv-action">
                          <button
                            mat-icon-button
                            *ngIf="atv.responsavel"
                            matTooltip="{{ atv.responsavel }}"
                            matTooltipPosition="below"
                          >
                            <mat-icon class="icon-resp" matSuffix>person</mat-icon>
                          </button>
                          <button
                            mat-icon-button
                            matTooltip="Editar atividade"
                            matTooltipPosition="right"
                            color="warn"
                            (click)="
                              openDialogEditarAtividade(atv, task.participantes)
                            "
                          >
                            <mat-icon class="icon-resp" color="primary" matSuffix
                              >create</mat-icon
                            >
                          </button>
                          <button
                            mat-icon-button
                            matTooltip="Excluir atividade"
                            matTooltipPosition="right"
                            color="warn"
                            (click)="openDialogExcluirAtividade(atv)"
                          >
                            <mat-icon class="" color="warn" matSuffix
                              >delete_outline</mat-icon
                            >
                          </button>
                        </span>
                     <br>
                     <br>
                      </mat-card>
                    </div>
                  </div>
                  </mat-panel-description>
                </mat-expansion-panel>


              <!-- <button
                    mat-icon-button
                    class="f-right btn-add-atv"
                    aria-label="Adicionar uma nova tarefa"
                    (click)="openDialogAtividade(task)"
                    matTooltip="Criar uma nova atividade"
                  >
                    <mat-icon>post_add</mat-icon>
                  </button> -->

              <!-- <button mat-flat-button
                  class="f-right btn-add-atv custom-small-btn-1"
                    aria-label="Adicionar uma nova tarefa"
                    (click)="openDialogAtividade(task)"
                    matTooltip="Criar uma nova atividade"
                  >
                      <mat-icon>post_add</mat-icon>
                    </button> -->



            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template matTabLabel>
          <span
            matBadge="{{ tarefasAtribuidas.length }}"
            matBadgeOverlap="false"
            matBadgeColor="bg-info"
            >Pendentes</span
          >
        </ng-template>
        <h1 class="text-center mt-5" *ngIf="tarefasAtribuidas.length == 0">
          Não encontramos tarefas.
        </h1>
        <app-lista-tarefas
          *ngIf="tarefasAtribuidas.length != 0"
        ></app-lista-tarefas>
      </mat-tab>

      <mat-tab>
        <ng-template matTabLabel>
          <span
            matBadge="{{ tarefasParticipo.length }}"
            matBadgeOverlap="false"
            matBadgeColor="accent"
            id="bagParticipo"
            >Tarefas que participo</span
          >
        </ng-template>
        <h1 class="text-center mt-5" *ngIf="tarefasParticipo.length == 0">
          Não encontramos tarefas.
        </h1>
        <app-tarefa-participante
          *ngIf="tarefasParticipo.length != 0"
        ></app-tarefa-participante>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>
          <span
            matBadge="{{ tarefasConcluidas.length }}"
            matBadgeOverlap="false"
            id="bagSucesso"
            >Concluídas</span
          >
        </ng-template>
        <h1 class="text-center mt-5" *ngIf="tarefasConcluidas.length == 0">
          Não encontramos tarefas.
        </h1>
        <app-tarefa-partipante-concluida
          *ngIf="tarefasConcluidas.length != 0"
        ></app-tarefa-partipante-concluida>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
<!-- </div>
</mat-sidenav-container> -->
