<mat-sidenav-container class="app-sidenav-container bg-content">
  <mat-sidenav
    #sidenav
    [opened]="telaMenor() ? 'false' : 'true'"
    [mode]="telaMenor() ? 'over' : 'side'"
    class="app-sidenav bg-header"
  >
    <mat-toolbar class="bg-header">Iron SGC</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="white-text">
        <span class="">Minhas tarefas</span>
      </a>
      <a mat-list-item class="white-text" [routerLink]="['/lista-tarefas']">
        <span class="">Pendentes</span>
      </a>
      <a mat-list-item class="white-text" [routerLink]="['/concluidas']">
        <span class="">Concluídas</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <button mat-icon-button class="btn-menu" (click)="sidenav.toggle()">
      <mat-icon aria-hidden="false" aria-label="Example user verified icon"
        >menu</mat-icon
      >
    </button>

    <section
      fxLayout="row"
      fxLayout.xs="column"
      fxLayout.sm="column"
      fxLayoutAlign="center center"
      class="mat-typography div-tarefa"
    >
      <div
        fxFlex="95%"
        class="w-tarefa"
        [ngStyle.gt-lg]="{ height: '118.2vh' }"
        [ngStyle.gt-md]="{ height: '110vh' }"
        [ngStyle.gt-sm]="{ height: '88.2vh' }"
      >
        <div>
          <h1 class="font-tiny title-tarefa">
            Tarefas
            <span class="f-right"
              ><button
                (click)="openDialogTarefa()"
                mat-stroked-button
                color="primary"
                class="bg-card-task"
              >
                Criar nova tarefa
              </button></span
            >
          </h1>
        </div>
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Minhas Tarefas">
            <h1 class="text-center mt-5" *ngIf="isErrorUsuario">
              Desculpe algo aconteceu ao trazer suas tarefas, verifique se voce
              está online no SGC, ou entre em contato com o Suporte Técnico.
            </h1>
            <div
              class="criar-tarefa"
              *ngIf="tarefas.length == 0 && !isErrorUsuario"
            >
              <h1 class="text-center">Não foram criadas tarefas.</h1>
            </div>
            <div
              fxLayout="column"
              fxFlex="100%"
              fxLayout.gt-md="row"
              class="mt-2"
              gdColumns.gt-md="28vw 28vw 28vw"
              fxLayoutAlign="center space-around"
            >
              <div
                fxFlex.md="100%"
                fxFlex.gt-sm="100%"
                [ngStyle]="{ margin: '2vh' }"
                *ngFor="let task of tarefas"
              >
                <mat-card  class="mat-elevation-z6">
                  <mat-card-title class="mb-2">
                    {{ task.titulo }}
                    <span class="f-right"> #{{ task.id }} </span>
                  </mat-card-title>
                  <mat-card-subtitle>
                    Criada por <strong>{{ task.titular.split(" ")[0] }}</strong>
                    <span style="float: right;">
                      {{ task.criacao }}
                    </span>
                  </mat-card-subtitle>
                  <mat-card-content>
                    <p *ngIf="task.descricao" class="card-desc">
                      Descrição: {{ task.descricao }}
                    </p>

                    <p>
                      <strong *ngIf="task.participantes.length != 0"
                        >Participantes:
                      </strong>
                      <strong *ngIf="task.participantes.length == 0"
                        >Sem participantes.
                      </strong>
                      <button
                        mat-icon-button
                        class="f-right btn-add-person mb-2"
                        matTooltip="Adicionar participante(s)"
                        (click)="openDialogParticipante(task.id)"
                      >
                        <mat-icon>person_add</mat-icon>
                      </button>
                      <mat-chip-list
                      *ngIf="task.participantes.length != 0"
                        #chipList
                        aria-label="Selecionar participantes"
                      >
                        <mat-chip
                          *ngFor="let part of task.participantes"
                          class="bg-info"
                        >
                          {{ part.nome }}
                          <mat-icon
                            matChipRemove
                            *ngIf="removivel"
                            (click)="removeParticipanteTarefa(part.id, task.id)"
                            matTooltip="Remover participante"
                          >
                            cancel
                          </mat-icon>
                        </mat-chip>
                      </mat-chip-list>
                       <mat-chip-list
                      *ngIf="task.participantes.length == 0"
                        #chipList
                        aria-label="Selecionar participantes"
                      >
                        <mat-chip
                          class="bg-danger"

                        >
                         Você não adicionou participantes.
                        </mat-chip>
                      </mat-chip-list>
                    </p>

                    <div class="mt-4">
                      <strong class="font-stronger">
                        Atividades
                      </strong>
                      <button
                        mat-icon-button
                        class="f-right btn-add-atv"
                        aria-label="Adicionar uma nova tarefa"
                        (click)="openDialogAtividade(task)"
                        matTooltip="Criar uma nova atividade"

                      >
                        <mat-icon>post_add</mat-icon>
                      </button>
                      <div *ngFor="let atv of task.atividades" class="mt-2">

                          <mat-checkbox
                            color="primary"
                            *ngIf="atv.finalizada"
                            style="text-decoration: line-through;"
                            name="atividade"
                            checked="{{ atv.finalizada }}"
                            value="{{ atv.id }}"
                            (click)="desmarcaAtividadeCompleta(atv.id)"
                            ><strong class="text-upper">
                              {{ atv.descricao }}
                            </strong>
                            <!-- <span *ngIf="atv.responsavel">
                              - {{ atv.responsavel }}</span
                            > -->
                          </mat-checkbox>

                          <mat-checkbox
                            *ngIf="!atv.finalizada"
                            name="atividade"
                            value="{{ atv.id }}"
                            (click)="marcaAtividadeCompleta(atv.id)"
                            class="text-upper"
                            >{{ atv.descricao }}
                            <!-- <span *ngIf="atv.responsavel">
                              - {{ atv.responsavel }}</span
                            > -->
                          </mat-checkbox>

                      </div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <!-- <button
                      class="btn-new-atv"
                      mat-mini-fab
                      color="primary"

                    >
                      <mat-icon>add</mat-icon>
                    </button> -->
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Atribuidas a mim">
            <app-lista-tarefas></app-lista-tarefas>
          </mat-tab>
          <mat-tab label="Concluidas"> </mat-tab>
        </mat-tab-group>
      </div>
    </section>
  </div>
</mat-sidenav-container>
