.text-center{
  text-align: center;
}
.bg-participante{
    background-color: rgba(169, 255, 169, 0.705);
    color: green;
}
.bg-atividade{
    background-color: rgba(162, 189, 226, 0.705);
    color: rgb(0, 81, 128);
}
